* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.header {
    width: 100%;
    height: 130px;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-weight: 600;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

.main-buttoms {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-buttoms input {
    border-style: none;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.boxTodosMain {
    width: 75%;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.boxesMain {
    text-align: center;
    margin: 0 auto;
    width: 49%;
    height: 98%;
    background-color: white;
}

.boxProjects {
    text-align: center;
    margin-top: 50px;
}

.boxProjects h1 {
    margin: 50px;
    font-size: 60px;
}

.buttoms {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.titleProjects {
    display: flex;
    justify-content: space-between;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 650px;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup .cerrarPopup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: rgb(128, 120, 120);
    transition: 0.1s ease all;
}
.popup .cerrarPopup:hover {
    color: black;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
}

.popup form .contenedor-inputs h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

.popup form .contenedor-inputs select {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 25px;
}

.popup form .btn-añadir {
    font-weight: bold;
    width: 150px;
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.popup form .btn-añadir:hover {
    background: black;
    color: white;
}

.muestra {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid brown;
}

.muestra.one {
    background-color: red;
}

.muestra.two {
    background-color: green;
}

.muestra.three {
    background-color: white;
}
